body {
  // padding-top    : 175px;
  margin         : 0;
  display        : flex;
  flex-direction : column;
  min-height     : calc(100vh - 64px);
}

// Vertical rhythm
h1, h2, h3, h4, h5, h6 {
  margin-top : 0;
  margin-bottom : 1rem;

  & + .subtitle {
    font-family: $body-font;
    font-weight: 500;
    margin-top : -.5rem;
    margin-bottom : 1rem;
  }
}

li {
  margin-top : 0;
  margin-bottom : .75rem;
}

// Bloques de contenido
.l-block,
section,
p,
blockquote,
pre,
article,
figure,
iframe,
video,
ul,
ol {
  margin-top : 0;
  margin-bottom : 2rem;
}
.m-block{
  margin-top : 0;
  margin-bottom : 1rem;
}

// secciones principales
.l-section {
  margin-top : 0;
  margin-bottom : 1rem;
  box-shadow    : 0px 0px 5px 0px $darkColor;

  .main-header + & {
    margin-top : 1rem;
  }

  &--main {
    margin-top : 0;
    margin-bottom : 8rem;
  }
}

.main-banner,
.topbar {
  margin-bottom: 2rem;
}

// main-banner y top-bar no deben separarse verticalmente de su hermano anterior

.topbar + .main-banner{
  margin-top : -4rem;
}
img{
  &.cover{
    object-fit: cover
  }
  &.contain{
    object-fit: contain
  }
}