.main-logo {
  width: 100%;
  display: block;
  position: absolute;
  left: 50%;
  max-width: 300px;
  min-width: 290px;
  bottom: 45px;
  @include from(l){
    bottom: 0;
    max-width: 380px;
  }
  transform: translateX(-50%);
  background: $secondColor;
      border: solid 3px white;
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
  img{
    border-bottom: 0;
    border-radius: 20px 20px 0 0;
  }
}
