.main-banner {
  background    : $darkColor;
  color         : #FFF;
  clip-path     : polygon(0 0, 100% 0, 100% 100%, 0 94%);
  position      : relative;

  // Separación del contenido
  padding       : 2rem 0 3rem;
  margin-left   : -1rem;
  margin-right  : -1rem; 
  @include from(l) { padding: 8rem 0 7rem; }

  &.main-banner--secondary { background : $secondColor  }
  &.main-banner--tertiary  { background : $thirdColor  }
  &.main-banner--accent    { background : $accentColor }
  h1{
    font-size: fontSize(title1) * 2;
    @include to(m){
      font-size: fontSize(title1) * 1.2;
    }
  }
}

.main-banner__img {
  position   : absolute;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : 100%;
  object-fit : cover;
  opacity    : .7;
}

.main-banner__data {
  position      : relative;
  text-align    : center;
}

.main-banner__author {
  color: #fff;
  margin-top : -1.5rem;

  a {
    color: inherit;
  }

  &-img {
    width : 6rem;
    height : 6rem;
    border-radius : 50%;
    border : 2px solid;
    display : block;
    margin : 0 auto;
  }

  &-name {
    font-size : fontSize(small);
  }
}
