/*
  MAIN MENU
  Este es el menú principal del sitio, aparece dentro de main header

  Su estructura es
    <nav class="main-menu" id="main-menu">
      <ul>
        <li><a href="#">Item de menu</a></li>
        <li><a href="#">Item de menu</a></li>
      </ul>
    </nav>

  En movil se activa con un botón de hamburguesa.
  En el ejemplo es un div pero puede ser cualquier elemento
  (debe estar fuera del nav)
    <div id="main-menu-toggle" class="main-menu-toggle to-l"></div>

  Entra por la derecha justo debajo de main-header

*/

.main-menu {
  a:hover {
    text-decoration : none;
  }

  .active {

    @include from(l) {
      font-weight : 400;
      color: $thirdColor;

      &::before {
        display : none;
      }
    }
  }
}


body {
  position   : relative;
  right      : 0;
  transition : right .5s;

  &.main-menu-visible {
    @include to(l) {
      right      : 80%;
      overflow-y : hidden;
    }
  }
}

.main-menu-toggle {
  @include navToggle(20px, $textColor);
}


@mixin main-menu {
  font-size : fontSize(small);

  @include to(l) {
    position   : fixed;
    top        : 64px;
    background : rgba($firstColor, .95);
    width      : 80%;
    right      : -80%;
    padding    : 1em 1em 2em;
    height     : calc(100vh - 64px);
    transition : right .5s;
    overflow-y : auto;
    // Mostrar el menu
    &.show {
      right : 0;
    }
  }

  ul {
    @include clearMenu;
    @include from(l) {
      display : flex;
    }
  }

  li {
    color         : #FFF;
    padding       : 1em 0;
    margin        : 0;

    @include from(l) {
      color       : $textColor;
      padding     : 0;
    }
  }

  a {
    color : inherit;
  }
}


.main-menu {
  @include main-menu;
  &__inicio {
    height: 6rem;
    .button--small{
      margin-left: .5rem;
      color: #2e5499;
      span{
        padding-left: 0.5rem;
      }
    }
  }
  &__principal {
    background: linear-gradient(lighten($secondColor, 15) 0, $secondColor, darken($secondColor, 10), $secondColor);
  }
  &__button{
    display: inline-flex;
    height: 4.9rem;
    font-family: $heading-font;
    font-size  : fontSize(title3);
    text-transform: uppercase;
    line-height: 1.2;
    background: linear-gradient(lighten($secondColor, 15) 0, $secondColor, darken($secondColor, 10), $secondColor);
    color: white !important;
    padding: 0 10px;
    align-items: center;
  }
  li .main-menu__button { border-left: solid 1px lighten($secondColor, 15); }
  li:last-child .main-menu__button { border-right: solid 1px lighten($secondColor, 15); }
  &__movil{
    @include hideFrom(l);
    position: absolute !important;
    bottom: 0;
    height: 2.8rem;
    background: linear-gradient(lighten($darkColor, 10), $darkColor, lighten($darkColor, 10));
    cursor: pointer;
  }  
}
.menu-responsive{
  @include hideFrom(l);
  position: absolute;
  z-index: $z-modal;
  background: $firstColor;
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  transform: translateX(-100%);
  transition: 0.5s transform;
  ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  li{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
    padding-bottom: 3px;
  }
  a:hover{
    text-decoration: none; 
  }
  &.active{
    transform: translateX(0);
  }
}
