.main-header {
  position      : relative;
  border-bottom : 1px solid $borderColor;
  box-shadow    : 0px 0px 15px 0px $darkColor;
  display       : flex;
  align-items   : center;
  background    : $secondColor;
  background    : $bodyBg;
  position      : relative;
  top           : 0;
  width         : 100%;
  height        : 10.9rem;
  left          : 0;
  z-index       : $z-fixed;
  overflow      : hidden;
}
