@mixin main-title {
  color: $firstColor;
  padding-top: 0.4rem;
  padding-bottom: 0.1rem;
  font-size: fontSize(title1);
  border: double 2px $firstColor;   
}
.main-main__title,
[class*="main-main__title--"]{
  @include main-title;
}
.main-main{
  background: $firstColor;
  &__title{
    background: $secondColor;
    box-shadow: 0px 0px 0px 3px $secondColor;
    &--dark{
      background: $darkColor;
      box-shadow: 0px 0px 0px 3px $darkColor;
    }
  }
}