.main-footer {
  background : linear-gradient($darkColor,lighten($darkColor, 8), lighten($darkColor, 5),$darkColor);
  color      : #FFF;
  padding    : 2rem 0 .5rem 0;
  font-size  : fontSize(normal);
  margin-top : auto;
  box-shadow: 0px 0px 12px 0px $darkColor;
  &__title{
    font-size: fontSize(title2);
  }
  a{
    color: $accentColorAlt;
  }
  .button--small{
    color: $secondColor;
  }
}
