.tns-outer{
  position      : relative; 
  margin-bottom: -2rem;
  overflow      : hidden;
  .main-banner{
    margin-bottom : 0;
    margin-left   : 0;
    margin-right  : 0;
    @include from(xl)    { height: 520px; padding: 20rem 0 0;}
    @include fromTo(l,xl){ height: 470px; padding: 18rem 0 0;}
    @include fromTo(m,l) { height: 320px; padding: 10rem 0 0;}
    @include to(m)       { height: 330px; padding: 10rem 0 0;}
    &__img { opacity: 1; 
    
    }
    &__data {
      opacity        : 0;
      transform      : scale3d(0.1, 0.1, 0.1);
      transition     : 5s all;
      text-shadow    : 0px 4px 5px $darkColor;
      h1{ 
        text-transform : uppercase;
      }
    }
  }
}
[aria-label="Carousel Navigation"], [aria-label="Carousel Pagination"], [data-action]{
  position : absolute;
  z-index  : $z-normal;
}
[data-action]{
  width      : 30px;
  height     : 30px;
  margin-top : 5px;
  margin-left: 5px;
  line-height: 2.4;
  @include from(l){ margin-top: 15px; margin-left: 15px; }
}
[aria-label="Carousel Navigation"]{
  left     : 50%;
  bottom   : 15px; 
  transform: translateX(-50%);
  @include from(l){ bottom: 50px; }
  
  [data-controls]{ 
    width      : 40px;
    height     : 40px;
    margin     : 0 5px;
    line-height: 3.4;
  }
}
[data-action], [aria-label="Carousel Navigation"] [data-controls]{
  background   : $bodyBg;
  color        : $secondColorAlt;
  border       : none;
  border-radius: 50%;
}
[aria-label="Carousel Pagination"]{
  margin-top: 5px;
  margin-right: 5px;
  right    : 0;
  @include from(l){ margin-top: 15px; margin-right: 15px; }
  button{
    width        : 15px;
    height       : 15px;
    border-radius: 50%;
    padding      : 0;
    border       : none;
    margin       : .3em;
    background   : $bodyBg;
    box-shadow   : inset 0 -3px 0 $borderColor;
    &[aria-selected="true"]{
      background: $secondColorAlt;
      box-shadow: none;
    }
  }
}
.tns-controls{display: none;}
.exsacruz-slider{
  &__content{
    position: relative;
  }
  &-prev, &-next{
    display: none !important;
    position: absolute;
    z-index: $z-normal;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 .8rem;
    @include mainCenter;
    @include crossCenter;
    line-height: 0.5;
    &:hover{
      text-decoration: none;
    }  
  }
  &-next{
    right: 0;
  }
  
}
.tns-slide-active{
  .main-banner__img{
    transform: scale(1);
    animation: zoombanner 5s;
  }
  .main-banner__data {
    opacity     : 1;
    transform   : scale3d(1, 1, 1);
    transition  : 5s all;
  }
}
@keyframes zoombanner{
  0%{
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}