header .social{
  padding-right: 1.6rem;  
  [class*="icon-"]{
    color:  #2e5499;
    opacity: 0.85;
    transition: .5s opacity;
  }
  [class*="icon-"]:hover{
    opacity: 1;
  }
}
.social{
  @include mainCenter;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0.5rem;
  li{
    padding: 0 0.5rem;;
    font-size: fontSize(title1)
  }
  a{
    &:hover{
      text-decoration: none;
    }
  }
  .icon-{
    &facebook:hover{
      color: #1b4d97;
      &::before{
        background: white;
        border-radius: 50%; 
      } 
    }
    &twitter:hover{
      color: #00b0eb;
      &::before{
        background: white;
        border-radius: 50%; 
      } 
    }
    &youtube:hover{
      color: #c72f2f;
      &::before{
        background: white;
        border-radius: 10px;
        box-shadow: inset 0 0 0px 1px #327d3e;
      } 
    }
  }
}