// Typography config
// This file doesn't generate any css
// CSS for typography will be generate from theme/_typography.scss file.

// Convert pixels to rem
@function rem($px) {
  @return ($px / 16px) * 1rem;
}
@font-face {
  font-family: "Anton-Regular";
  src:url("../fonts/antonio.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Font families
$body-font   : 'sans-serif'; // only 400 and 400i
$heading-font : 'Anton-Regular', 'sans-serif';  // only 700
// Font sizes
$fontSizes: (
  title1  : rem(36px),
  title12 : rem(29px),
  title2  : rem(24px),
  title3  : rem(20px),
  normal  : rem(16px),
  small   : rem(14px),
);

// Get font size from map
@function fontSize($size) {
  @if map-has-key($fontSizes, $size) {
    @return map-get($fontSizes,$size)
  } @else {
    @error '$size is not valid, valid values are t1, t2, t3, normal, small, smaller'
  }
}

// Mixins
@mixin t1 {
  font-size: fontSize(title1);
  @include to(l) { font-size: fontSize(title2) }
}

@mixin t12 {
  font-size: fontSize(title12);
  @include to(l) { font-size: fontSize(title3) }
}

@mixin t2 {
  font-size: fontSize(title2);
  @include to(l) { font-size: fontSize(title3) }
}

@mixin t3 {
  font-size: fontSize(title3);
  @include to(l) { font-size: fontSize(normal) }
}

//Fontastic
@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\6a";
}
.icon-right:before {
  content: "\6b";
}
.icon-play:before {
  content: "\62";
}
.icon-pause:before {
  content: "\63";
}
.icon-home:before {
  content: "\61";
}
.icon-contact:before {
  content: "\64";
}
.icon-us:before {
  content: "\65";
}
.icon-up:before {
  content: "\66";
}
.icon-facebook:before {
  content: "\67";
}
.icon-twitter:before {
  content: "\68";
}
.icon-youtube:before {
  content: "\69";
}
.whatsapp {
  position: relative;
  padding-left: 35px;
  padding-top: 7px;
  padding-bottom: 7px;
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../images/whatsapp.png);
  }
}