// Settings for EDgrid
$dev        : false;
$cssCore    : false;
$cssHelpers : true;
$container : exsacruz-container;
$item      : exsacruz-item;
$max-width  : 1344px;
$gutter     : 1rem;

// Breakpoints
$breakpoints : (
  s  : 0,
  m  : 640px,
  l  : 1024px,
  xl : 1440px
);

// Fracciones para calcular anchos de los items
$fractions : 3 6;

// Colors
// $firstColor     : #e4322c;
// $firstColorAlt  : #e4322c;
$firstColor     : #FFFFFE;
$firstColorAlt  : #eeeeee;
// $secondColor    : #3056a7;
// $secondColorAlt : #0e3480;
$secondColor    : #e4322c;
$secondColorAlt : #e4322c;
$thirdColor     : #0081a8;
$thirdColorAlt  : #57abe4;
$accentColor    : #ffc21c;
$accentColorAlt : #ffa126;
$darkColor      : #282D31;

// Complementary colors
$borderColor : #e2e7ec;
$textColor   : #53575A;
$bodyBg      : #FFFFFE;

// z-ndex
$z-back    : -10;
$z-normal  : 1;
$z-tooltip : 10;
$z-fixed   : 100;
$z-modal   : 1000;

// Images path
$images-path: 'http://ux.ed.team/img';
$svg-path   : '../svg';
