extends layouts/template
append config
  -currentPage = 'Accesorios para hidrantes'
block main
  .exsacruz-container
    .s-100
      +banner(path_media + "images/slide04.jpg", 'Accesorios para hidrantes', 'Se conoce con el nombre de hidrantes, a las salidas de descarga de una red de tubería, equipos y accesorios fijos con gran capacidad de extinción contra incendio alimentada con agua a presión desde una fuente de abastecimiento.', '', true, false)
  .exsacruz-container.l-block
    .exsacruz-item.l-100.cross-center 
      p La presión se puede originar por medio de un tanque elevado o de un equipo de bombeo. Las salidas de descarga deben estar conectadas a un conjunto de accesorios contra incendio contenidos en un gabinete metálico.
    h2.main-main__title.exsacruz-item.l-block.center GABINETES HIDRANTES CONTRA INCENDIOS
    .xl-50.l-75.m-90.to-center.l-block
      .card.card--mini-horizontal
        .card__img.to-center
          img(src=path_media + 'images/hidrantes01.jpg')
        .card__content
          h2.card__title Gabinete Porta Manguera de 75x45x17cm
          .card__body
            p Gabinete para empotrar en la pared u opcional para sobreponer, ventana frontal de 20x20cm, chapa abre fácil.
          footer.card__footer
            //- .button--ghost--alert Precio Bs. 575,00
    .xl-50.l-75.m-90.to-center.l-block
      .card.card--mini-horizontal
        .card__img.to-center
          img(src=path_media + 'images/hidrantes02.jpg')
        .card__content
          h2.card__title Válvula Angular de 45o de 2,5" (Pul.) Roscada.
          .card__body
            p Presión de Servicio: 14 Kgf/cm 2
            p Presión de Prueba: 21 Kgf/cm 2
          footer.card__footer
            //- .button--ghost--alert Precio Bs. 595,00
    .xl-50.l-75.m-90.to-center.l-block
      .card.card--mini-horizontal
        .card__img.to-center
          img(src=path_media + 'images/hidrantes03.jpg')
        .card__content
          h2.card__title Adaptador de 2,5" (Pul.) Rosca a 1,5" (Pul.) Storz
          .card__body
            p Este accesorio hace posible la conexión de una manguera de 1,5" Storz a la Válvula de 2,5" roscada.
            p Presión de Servicio: 14 Kgf/cm2
            p Presión de Prueba: 21 Kgf/cm2
          footer.card__footer
            //- .button--ghost--alert Precio Bs. 250,00
    .xl-50.l-75.m-90.to-center.l-block
      .card.card--mini-horizontal
        .card__img.to-center
          img(src=path_media + 'images/hidrantes04.jpg')
        .card__content
          h2.card__title Manguera de 1,5" Predial Brasilera Marca Bucka Spiero
          .card__body
            p Presión de Servicio: 10 Kgf/cm2
            p Presión de Servicio: 21 Kgf/cm2
            p Capa Interna de Goma sintética adherida a una capa de lona sintética
          footer.card__footer.exsacruz-container
            ul.data-list.exsacruz-item
              li
                p - 15 metros.
                //- span.button--ghost--alert.button--small Precio Bs. 850,00
              li
                p - 20 metros.
                //- span.button--ghost--alert.button--small Precio Bs. 950,00
              li
                p - 30 metros.
                //- span.button--ghost--alert.button--small Precio Bs. 1133,00
    
    .xl-50.l-75.m-90.to-center.l-block
      .card.card--mini-horizontal
        .card__img.to-center
          img(src=path_media + 'images/hidrantes05.jpg')
        .card__content
          h2.card__title Pico o boquilla de chorro fijo o tipo lanza, de 1,5" conexión Storz.
          .card__body
            p Diametro de salida 13mm, diametro cilindrica de 16mm
          footer.card__footer
            //- .button--ghost--alert Precio Bs. 250,00
    .xl-50.l-75.m-90.to-center.l-block
      .card.card--mini-horizontal
        .card__img.to-center
          img(src=path_media + 'images/hidrantes06.jpg')
        .card__content
          h2.card__title Pico o boquilla de chorro regulable o tipo niebla de plastico, de 1,5" conexión Storz
          .card__body
            p Presión de Servicio: 10 Kgf/cm2 , Presión de Prueba: 21 Kgf/cm2
          footer.card__footer
            //- .button--ghost--alert Precio Bs. 300,00
    .xl-50.l-75.m-90.to-center.l-block
      .card.card--mini-horizontal
        .card__img.to-center
          img(src=path_media + 'images/hidrantes07.jpg')
        .card__content
          h2.card__title Pico o boquilla de chorro regulable o tipo niebla, de 1,5" conexión Storz
          .card__body
            p Presión de Servicio: 10 Kgf/cm2
            p Presión de Prueba: 21 Kgf/cm2
          footer.card__footer
            //- .button--ghost--alert Precio Bs. 550,00