extends layouts/template
append config
  -currentPage = 'Capacitaciones'
block main
  .exsacruz-container
    .s-100
      +banner(path_media + "images/slide02.jpg", 'Capacitaciones', 'PARA USO Y MANEJO DE EXTINTORES', '', true, false)
    .s100
  .exsacruz-container.exsacruz-item
    //- .card.l-block
    h1.main-main__title.exsacruz-item.l-block.center CLASES  DE  FUEGO Y MANEJO DE EXTINTORES DE INCENDIO 
    .l-50.exsacruz-item
      h2.t12.main-main__title--dark.exsacruz-item.m-block.center OBJETIVO DEL CURSO:
      p Capacitar al personal de la empresa frente al riesgo de incendios  y dotarle de las destrezas necesarias para la extinción de conatos de incendio mediante el uso de extintores portátiles y bocas de incendio equipadas.
      h2.t12.main-main__title--dark.exsacruz-item.m-block.center OBJETIVOS ESPECÍFICOS DEL CURSO:
      ul.feature-list
        li Adquirir los conocimientos sobre las características del fuego. Condiciones para su inicio desarrollo y propagación.
        li Adquirir los conocimientos sobre los diferentes agentes extintores y su aplicación a los distintos fuegos.
        li Adquirir pautas de comportamiento para enfrentarse a situaciones de inicio de incendio.
        li Adquirir las habilidades sobre las técnicas de extinción de incendios mediante el uso y manejo de los extintores de incendio.
      h2.t12.main-main__title--dark.exsacruz-item.m-block.center CONTENIDOS A DESARROLLAR:
      ul.feature-list
        li Definición de fuego, incendio y clases de fuego
        li Elementos del fuego.
        li Qué es un extintor
        li Elementos principales que lo componen
        li Tipos de extintores
        li Procedimiento de utilización.
        li Prácticas de extinción de incendio controlado con extintores.
    .l-50.exsacruz-item
      img.to-center.l-100.m-75.m-block(src= path_media +   "images/slide02.jpg", alt="Capacitacion" + siteName + slogan)
      h2.t12.main-main__title--dark.exsacruz-item.center.m-block DESTINATARIOS:
      p Personas civiles y personal empresarial que estén expuestas a riesgo de incendio.
      h2.t12.main-main__title--dark.exsacruz-item.center.m-block DOTACIÓN DE MATERIAL PARA EL CURSO:
      ul.feature-list
        li Exposición teórica audiovisual dinámica
        li Dotación del contenido teórico a cada participante (Opcional)
        li Incendio controlado real para la práctica de extinción
        li Entrega de Certificados de Participación (Opcional)
      h2.t12.main-main__title--dark.exsacruz-item.center.m-block DURACIÓN DEL CURSO:
      p La Duración del curso es de media hora teórica, y 1 hora o lo que se requiera para la práctica.
      