extends layouts/template
append config
  -currentPage = 'Contactos'
block main
  .exsacruz-container
    .s-100
      +banner(path_media + "images/slide01.jpg", 'Contáctenos', 'ESCRÍBANOS! Recibimos consultas desde cualquier punto del país.', '', true, false)
    .l-30.m-70.to-center
      include components/form-contact
    .l-70#mapa.s-100
      iframe.map-contact(src="https://www.google.com/maps/d/embed?mid=1lqpbpYQqu_u9HhYaubsowtdy27tV-tIZ" frameborder="0" width="100%" height="480")