extends layouts/template
append config
  -currentPage = 'Extintores'
block main
  .exsacruz-container
    .s-100
      +banner(path_media + "images/slide01.jpg", 'Extintores', 'Contar con extintores en su empresa o industria le ayuda a extinguir pequeños incendios. Por eso es importante contar con extintores en caso de una emergencia. El tipo de extintor que necesita dependerá del entorno en el que se puede ocasionar el fuego.', '', true, false)
  .exsacruz-container.exsacruz-item.cross-start
    .l-100.exsacruz-container
      h2.l-100.to-center.exsacruz-item.main-main__title.l-block Extintores manuales
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/manual-02kg.jpg' alt="Extintores manuales")
          .card__content
            h2.card__title Polvo químico Seco 2 Kg.
            .card__body
              p 
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco  
                | Apto para Fuegos de Clase A: 
                | Combustibles sólidos Clase B: 
                | Combustibles Líquidos derivados de petróleo y Clase C: 
                | Incendio por Causa Eléctrica. 
                //- | Marca Bucka Spiero industria: 
                | Brasilera, con certificación ABNT, ISO 9001:
                | 2008, INMETRO (Brasil); IBMETRO (Bolivia). 
                | Extintor recargado con Polvo químico seco 90% de efectividad, Incluye soporte para vehículo. 
                //- | Garantía de 5 años en el agente químico. Capacidades: 1kg, 2kg
            footer.card__footer
              p
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/manual-04kg.jpg' alt="Extintores manuales")
          .card__content
            h2.card__title Polvo químico Seco 4 Kg.
            .card__body
              p
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco Apto para Fuegos de Clase A: Combustibles sólidos Clase B: Combustibles Líquidos derivados de petróleo y Clase C: Incendio por Causa Eléctrica. 
                | Extintor recargado con Polvo químico seco 90% de efectividad con certificación Bureau Veritas Incluye soporte para pared, y señalética. 
                | Garantía de 5 años en el agente químico.
            footer.card__footer
              p
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/manual-06kg.jpg' alt="Extintores manuales")
          .card__content
            h2.card__title Polvo químico Seco 6 Kg.
            .card__body
              p
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco Apto para Fuegos de Clase A: Combustibles sólidos Clase B: Combustibles Líquidos derivados de petróleo y Clase C: Incendio por Causa Eléctrica. 
                | Extintor recargado con Polvo químico seco 90% de efectividad con certificación Bureau Veritas Incluye soporte para pared, y señalética. 
                | Garantía de 5 años en el agente químico.
            footer.card__footer
              p
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/manual-08kg.jpg' alt="Extintores manuales")
          .card__content
            h2.card__title Polvo químico Seco 8 Kg.
            .card__body
              p
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco Apto para Fuegos de Clase A: Combustibles sólidos Clase B: Combustibles Líquidos derivados de petróleo y Clase C: Incendio por Causa Eléctrica. 
                | Extintor recargado con Polvo químico seco 90% de efectividad con certificación Bureau Veritas Incluye soporte para pared, y señalética. 
                | Garantía de 5 años en el agente químico.
            footer.card__footer
              p
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/manual-10kg.jpg' alt="Extintores manuales")
          .card__content
            h2.card__title Polvo químico Seco 10 Kg.
            .card__body
              p
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco Apto para Fuegos de Clase A: Combustibles sólidos Clase B: Combustibles Líquidos derivados de petróleo y Clase C: Incendio por Causa Eléctrica. 
                | Extintor recargado con Polvo químico seco 90% de efectividad con certificación Bureau Veritas Incluye soporte para pared, y señalética. 
                | Garantía de 5 años en el agente químico.
            footer.card__footer
              p
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/manual-12kg.jpg' alt="Extintores manuales")
          .card__content
            h2.card__title Polvo químico Seco 12 Kg.
            .card__body
              p
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco Apto para Fuegos de Clase A: Combustibles sólidos Clase B: Combustibles Líquidos derivados de petróleo y Clase C: Incendio por Causa Eléctrica. 
                | Extintor recargado con Polvo químico seco 90% de efectividad con certificación Bureau Veritas Incluye soporte para pared, y señalética. 
                | Garantía de 5 años en el agente químico.
            footer.card__footer
              p

    .l-100.exsacruz-container
      h2.l-100.to-center.exsacruz-item.main-main__title.l-block Extintores sobre ruedas
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/sobre-ruedas01.jpg' alt="Extintores sobre ruedas")  
          .card__content
            h2.card__title Polvo químico Seco 25 Kg.
            .card__body
              p
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco Apto para Fuegos de Clase A: Combustibles sólidos Clase B: Combustibles Líquidos derivados de petróleo y Clase C: Incendio por Causa Eléctrica. 
                | Extintor recargado con Polvo químico seco 90% de efectividad con certificación Bureau Veritas Incluye soporte para pared, y señalética. 
                | Garantía de 5 años en el agente químico.
            footer.card__footer
              p
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/sobre-ruedas02.jpg' alt="Extintores sobre ruedas")  
          .card__content
            h2.card__title Polvo químico Seco 50 Kg.
            .card__body
              p
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco Apto para Fuegos de Clase A: Combustibles sólidos Clase B: Combustibles Líquidos derivados de petróleo y Clase C: Incendio por Causa Eléctrica. 
                | Extintor recargado con Polvo químico seco 90% de efectividad con certificación Bureau Veritas Incluye soporte para pared, y señalética. 
                | Garantía de 5 años en el agente químico.
            footer.card__footer
              p
      .l-50.m-75.to-center.l-block
        .card.card--mini-horizontal
          .card__img.to-center
            img(src=path_media + 'images/sobre-ruedas03.jpg' alt="Extintores sobre ruedas")  
          .card__content
            h2.card__title Polvo químico Seco 100 Kg.
            .card__body
              p
                b Caracteristicas: 
                | Extintor de Polvo Químico Seco Apto para Fuegos de Clase A: Combustibles sólidos Clase B: Combustibles Líquidos derivados de petróleo y Clase C: Incendio por Causa Eléctrica. 
                | Extintor recargado con Polvo químico seco 90% de efectividad con certificación Bureau Veritas Incluye soporte para pared, y señalética. 
                | Garantía de 5 años en el agente químico.
            footer.card__footer
              p

    h2.exsacruz-item.main-main__title--dark.center.l-block MODO DE USO
    .exsacruz-item.l-1-3.m-50.l-block
      .card.card--course
        .card__img.to-center
          img(src=path_media + 'images/uso01.jpg')
        .card__content
          .card__user
            .card__number
              strong.t1 1
            p Rompa el precinto plásctico y quite la traba de seguridad.
    .exsacruz-item.l-1-3.m-50.l-block
      .card.card--course
        .card__img.to-center
          img(src=path_media + 'images/uso02.jpg')
        .card__content
          .card__user
            .card__number
              strong.t1 2
            p Rompa el precinto plásctico y quite la traba de seguridad.
    .exsacruz-item.l-1-3.m-50.l-block
      .card.card--course
        .card__img.to-center
          img(src=path_media + 'images/uso03.jpg')
        .card__content
          .card__user
            .card__number
              strong.t1 3
            p Rompa el precinto plásctico y quite la traba de seguridad.
    h2.exsacruz-item.main-main__title--dark.center.l-block EXTINTOR POLVO QUIMICO SECO
    .card.l-block
      .card__img.to-center.card__content
        img(src=path_media + "images/extintor-polvo-quimico.jpg", alt="EXTINTOR POLVO QUIMICO SECO")
    h2.exsacruz-item.main-main__title.center.l-block INFORMACIÓN IMPORTANTE
    .exsacruz-item.main-center
      ul.feature-list.l-75
        li Inspeccionar el extintor permanentemente.
        li Cambiar la carga cada año.
        li La flecha del manómetro debe estar siempre en el color verde.
      p
        strong RECARGA: 
        | Después de cada uso debe ser recargado de inmediato.