extends layouts/template
append config
  -currentPage = 'Inicio'
block banner
  include components/slider
block main
  br
  br
  .exsacruz-container.main-distribute
    h2.exsacruz-item.main-main__title.center.l-block Normas
    .s-100.l-40.xl-30.exsacruz-item.l-block
      .card.card--mini
        .card__img.to-center
          img(src= path_media + 'images/nfpa.jpg')
        .card__content
          h3.card__title.center Asociación Nacional de Protección contra el Fuego
    .s-100.l-40.xl-30.exsacruz-item.l-block
      .card.card--mini
        .card__img.to-center
          img(src= path_media + 'images/iram.jpg')
        .card__content
          h3.card__title.center Instituto Argentino de Normalización y Certificación
  //- a(href="/stylesguide").button.l-block Ver guia de estilos 