extends layouts/template
append config
  -currentPage = 'Nosotros'
block main
  .exsacruz-container
    .s-100
      +banner(path_media + "images/slide01.jpg", 'Nosotros', siteName + ' ' + slogan, '', true, false)
  .exsacruz-container
    .exsacruz-item.l-55.main-center.cross-center.l-block
      img.contain(src=path_media + 'images/la-empresa.jpg' alt="La empresa Exsacruz")           
      //- a.to-center(:href="menuinicio[2].href"): img(src=path_media + "images/logo-exsacruz.png", alt="")
    .exsacruz-item.l-45.cross-start
      h2.main-main__title.exsacruz-item.l-block.center MISIÓN
      p 
        | Somos una empresa Boliviana dedicada a la provisión y recarga de
        | extintores, trabajamos día a día comprometidos en brindar servicios
        | y productos de calidad, además de concientizar a las personas de la
        | importancia de contar con un extintor y el uso correcto del mismo.
      h2.main-main__title.exsacruz-item.l-block.center VISIÓN
      p 
        | Ser la empresa líder en Bolivia en provisión y recarga de extintores, 
        | con personal técnico altamente capacitado, 
        | brindando un servicio de calidad basados en normas internacionales y nacionales, 
        | generando de esta manera seguridad y satisfacción en nuestros clientes.
      h2.main-main__title.exsacruz-item.l-block.center VALORES
      p
        | Entregar confianza a través de la responsabilidad, 
        | honestidad y calidad en todos nuestros servicios y productos ofertados. 