extends layouts/template
append config
  -currentPage = 'Recarga y mantenimiento de extintores'
block main
  .exsacruz-container
    .s-100
      +banner(path_media + "images/slide03.jpg", 'Recarga y mantenimiento de extintores', 'El mantenimiento de extintores se realiza con insumos de alta calidad que garantizan el adecuado funcionamiento de sus equipos, para brindarle la tranquilidad de saber que funcionaran correctamente en caso de ser requerido.', '', true, false)
  .exsacruz-container.l-block
    .exsacruz-item.l-60.cross-center 
      p Es importante realizar el mantenimiento de extintores para tenerlos en buenas condiciones en caso de una emergencia. Cada equipo requiere un tipo diferente de mantenimiento ya que dependiendo el tipo de fuego a extinguir, estos deberan de emplear un agente extintor diferente.
      p Se recomienda que el  mantenimiento de extintores se realice una vez al año como mínimo, este puede variar de acuerdo al tipo de extintor y puede ir desde un chequeo de diagnóstico, hasta pruebas de ejecución.
      p En #{siteName} nos encargamos de realizar el mantenimiento de extintores de acuerdo a las instrucciones del fabricante y a las especificaciones de los componentes quimicos del agente extinguidor a recargar.
      p Si necesitas más informacion para el mantenimiento de extintores, puedes comunicarte con nosotros y un asesor te atenderá.
      a.to-center(:href="menuinicio[2].href"): img(src=path_media + "images/logo-exsacruz.png", alt="")
    .exsacruz-item.l-40.main-center.l-block
      .card
        img(src=path_media + 'images/reparacion-y-mantenimiento-de-extintores.jpg' alt="Recarga y mantenimiento de extintores")           
    h2.main-main__title.exsacruz-item.l-block.center RECARGA DE EXTINTORES
    .l-80.to-center.l-block
      .card.card--mini-horizontal
        .card__img.to-center
          img(src=path_media + 'images/recarga-de-extintores.jpg')
        .card__content
          h2.card__title Servicio de Recarga de extintores
          .card__body
            p La recarga de extintores se realiza con insumos de alta calidad que garantizan el adecuado funcionamiento de su equipo extintor, para brindarle la confianza de que funcionaran correctamente en caso de ser requerido.
          footer.card__footer