- var currentPage = 'Inicio'
- var siteName = 'EXSACRUZ'
- var slogan = '- Equipos Contra Incendios'
- var description = 'Venta de extintores, polvo químico seco, recarga y mantenimiento. Accesorios para hidrantes, capacitaciones.'

//- Root images/svg
- var path_media = '/assets/'

//- Root pages
- var path_page = '/'