block config
  include config
include ../mixins/main-banner
doctype html
html(lang="es")
  head
    title= currentPage.slice(0,1).toUpperCase() + currentPage.slice(1) + " | " + siteName + slogan
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="description" content=description)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700|Open+Sans:700")
    link(rel="stylesheet" href= path_media + "css/styles.css?v=1.0.0")
  body(class=currentPage)
    #exsacruz
      include ../components/header
      block topbar
      block banner
      .exsacruz-container.main-section.l-section
        aside.exsacruz-item.l-25.main-sidebar.sidebar-first
          include ../components/topics-menu
        main.exsacruz-item.l-75.main-main
          block main
      include ../components/footer 
    script(src= path_media + "js/modernizr.js")
    script(src= path_media + "js/script.js?v=1.0.0")
    //- script(src="js/prism.js?v2")
