footer.main-footer
	.exsacruz-container
		.exsacruz-item.xl-30.l-35.s100
			h3.main-footer__title.center PRODUCTOS y ACCESORIOS
			ul.feature-list.exsacruz-container
				li.exsacruz-item(v-for="item in mainmenu"): a(:href="item.href" v-text="item.title")
		.exsacruz-item.xl-40.l-40.s100
			h3.main-footer__title.center EXSACRUZ - BOLIVIA
			p.center
				b SANTA CRUZ: 
				| Doble Vía la Guardia  # 5265
				br 
				| entre 5º y 6º anillo (frente al condominio San Francisco)
				br
				a.button--small(:href="menuinicio[2].href + '#mapa'") >> Ver mapa
				br
				b Telf: 
				| (591-3) 3212628
				br
				b Cel:   
				span.whatsapp 72189770
				br 
				| ventas@exsacruz.com
		.exsacruz-item.xl-30.l-25.s100.cross-center.center
			p.exsacruz-item Todos los Derechos Reservados ® <br>
				b #{siteName} 
				| © 
				span#currentDate
			p.exsacruz-item: a.ah(href='//ahpublic.com', target='_blank') Diseño y Programación: AH! PUBLICIDAD