form.exsacruz-container.form(v-on:submit.prevent="submitForm")
	.exsacruz-item.form__item
		label.form__label(for="") Nombre completo: 
		input.form__input(v-model="vue.nombre" type="text" required="")
	.exsacruz-item.form__item
		label.form__label(for="") Teléfono: 
		input.form__input(v-model="vue.telefono" type="number")
	.exsacruz-item.form__item
		label.form__label(for="") Celular: 
		input.form__input(v-model="vue.movil" type="number" required="")
	.exsacruz-item.form__item
		label.form__label(for="") Dirección: 
		input.form__input(v-model="vue.direccion" type="text" required="")
	.exsacruz-item.form__item
		label.form__label(for="") Ciudad: 
		input.form__input(v-model="vue.ciudad" type="text" required="")
	.exsacruz-item.form__item
		label.form__label(for="") Email: 
		input.form__input(v-model="vue.email" type="email" required="")
	.exsacruz-item.form__item
		label.form__label(for="") Mensaje: 
		textarea.form__input(v-model="vue.mensaje" name="", cols="30", rows="10" required="")
	.exsacruz-item.form__item.main-center
		button.button--alert(type="submit") Enviar
		button.button--alert(v-on:click="clearForm()") Limpiar
	.statusMessage(v-if="formSubmitted")
		h4(v-text="vue.envio")