header.main-header.main-start
  .exsacruz-container
    .main-logo
      a(:href="path_page")
        img(src= path_media + 'images/logo-exsacruz.png')
    nav.main-menu.main-menu__inicio.exsacruz-item.cross-center.main-justify
      ul.social
        li.social__icon
          a(href='#', target='_blank')
            i.icon-facebook
        li.social__icon
          a(href='#', target='_blank')
            i.icon-youtube
        li.social__icon
          a(href='#', target='_blank')
            i.icon-twitter
      ul
        li(v-for="item in menuinicio")
          a.button--small(:href="path_page + item.href") 
            i(:class="item.icon")
            span(v-text="item.title")
  .main-menu__movil.exsacruz-item.main-center.main-menu__button.hvr-sweep-to-top(v-on:click="menuToggle()")
    .main-menu-toggle.to-l
    span MENÚ
    
  .exsacruz-item.main-menu.main-menu__principal
    .exsacruz-container
      nav.main-start.xl-35.l-30
        ul
          li: a.center.main-menu__button.hvr-sweep-to-top(:href="path_page + mainmenu[0].href" v-text="mainmenu[0].title")
          li: a.center.main-menu__button.hvr-sweep-to-top(:href="path_page + mainmenu[1].href" v-text="mainmenu[1].title")
      .xl-30.l-40
      nav.main-end.xl-35.l-30
        ul
          li: a.center.main-menu__button.hvr-sweep-to-top(:href="path_page + mainmenu[2].href" v-text="mainmenu[2].title")
          li: a.center.main-menu__button.hvr-sweep-to-top(:href="path_page + mainmenu[3].href" v-text="mainmenu[3].title")
nav.menu-responsive.exsacrux-item.s-100.m-60(:class="toggle ? 'active' : '' ")
  ul.exsacruz-item.main-center
    li.exsacrux-item(v-for="item in menuinicio")
      a.button--small(:href="path_page + item.href") 
        i(:class="item.icon")
        span(v-text="item.title")
  ul: li(v-for="item in mainmenu"): a.exsacruz-item.main-menu__button.hvr-sweep-to-top(:href="item.href" v-text="item.title")