include ../mixins/main-banner
//- .slider-next.button NEXT
//- .slider-prev.button PREV
.exsacruz-slider__content
  a(href="javascript:void(0)").exsacruz-slider-prev <i class="icon-left"></i>
  a(href="javascript:void(0)").exsacruz-slider-next <i class="icon-right"></i>
  .exsacruz-slider
    +banner(path_media + "images/slide01.jpg",  'Extintores',  siteName + ' ' + slogan , '', true, false)
    +banner(path_media + "images/slide02.jpg",  'Capacitación', 'PARA USO Y MANEJO DE EXTINTORES' , '', true, false)
    +banner(path_media + "images/slide03.jpg",  'Mantenimiento y Recarga',  siteName + ' ' + slogan , '', true, false)
    +banner(path_media + "images/slide04.jpg",  'Accesorios para hidrantes',  siteName + ' ' + slogan , '', true, false)
