.main-menu-toggle{
    box-shadow: 0 4px #ffffff inset;
}
.main-menu-toggle::after, .main-menu-toggle::before {
  left: 0;
  background-color: #ffffff;
}

td [class*="button"] {
  display: inline;

  &:last-child {
    margin-right : 0;
  }
}
.ah{
  opacity: 0.6;
  &:hover{
    opacity: 1;  
  }
}
.map-contact{
  width: 100%;
  height: 100%;
  min-height: 400px;
  padding-bottom: 1rem;
}
